@import '@styles/vars';
.closeButton {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  span {
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;

    background: $primary-color;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

    &:first-child {
      transform-origin: 0% 0%;
    }
    &:nth-child(3) {
      transform-origin: 0% 100%;
    }
  }
}

.active span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -4px);

  &:nth-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  &:nth-child(3) {
    transform: rotate(-45deg) translate(1px, -1px);
  }
}

.content {
    display: none;
    list-style: none;
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    height: 100vh;
    padding: 60px 0px;
    padding-right: 35px;
    background: rgba(#434343, $alpha: .48);
    backdrop-filter: blur(15px);
    width: 300px;
    right: 0;
    top: 0;
    color: $on-surface-color;
    animation: entry .5s ease;

    & .item {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 30px;
    }
}
.showMenu {
    display: none;
}
@keyframes entry {
  0%{
    right: -100%;
  }
  100% {
    right: 0;
  }
}

@media (hover: hover) and (pointer: fine) {
  .item a:hover { color: $primary-color; }
}

@media (max-width:860px) {
    .closeButton {
        display: block;
    }
    .showMenu {
        display: flex;
    }
}
@media (max-width:460px) {
    .content {
       width: 100%;
    }
}
