@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

$font-primary: 'Poppins', sans-serif;
$bg-color: #ffffff;
$font-color-primary: #000000;
$font-color-secondary: hsl(204, 100%, 50%);