@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

$font-primary: 'Poppins', sans-serif;
$bg-color: #121212;
$surface-color: #212121;
$surface-02p-color: #434343;
$on-surface-color: #FFFFFF;
$on-background-color: #FFFFFF;
$primary-color: #61dafb;
$gray: #ddd;