@import 'vars';
.About {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0;

  &__title {
    text-transform: uppercase;
    color: $primary-color;
    margin-bottom: 15px;
    text-align: center;
    font-size: 35px;
  }
  &__content {
    display: flex;
    max-width: 1200px;
    flex: 1;
    color: $on-surface-color;

    &__container {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      
      &__text {
        font-size: 16px;
        margin: auto 0;
        p {
          max-width: 50ch;
          text-align: center;
        }
      }
      &__subtitle {
        color: $primary-color;
        font-size: 25px;
        text-align: center;
        margin-bottom: 16px;
      }
      &__image {
        position: relative;
        width: 50px;
        height: 50px;
        filter: grayscale(100%);
      }
      &__skills {
        grid-column: 1 / span 2;
        padding-top: 30px;

          &List {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            max-width: 480px;
            justify-content: center;
    
            &-item {
              width: 100px;
              display: flex;
              flex-direction: column;
              align-items: center;
              filter: grayscale(100%);
              figure {
                position: relative;
                width: 50px;
                height: 50px;
              }
              &:hover {
                filter: grayscale(0%);
              }
            }
          }
      }
    }
  }
}

.hexagon-container {
    position: relative;
    margin-top: 100px;
}

.hexagon {
  position: relative;
  width: 300px;
  height: 173.21px;
  background-color: $surface-02p-color;
  z-index: 2;
}

.hexagon:before,
.hexagon:after {
  content: '';
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 86.6px solid $surface-02p-color;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.6px solid $surface-02p-color;
}

.hexagon-back {
    position: absolute;
    background-color: $surface-color;
    top: 0;
    transform: rotate(-15deg);
    z-index: 1;
}
.hexagon-back:before {
    bottom: 100%;
    border-bottom: 86.6px solid $surface-color;
  }
  
  .hexagon-back:after {
    top: 100%;
    width: 0;
    border-top: 86.6px solid $surface-color;
  }
