@import 'vars';
.Contact {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $bg-color;

  &__title {
    text-transform: uppercase;
    color: $primary-color;
    font-size: 50px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    position: relative;

    .Form__button {
      width: fit-content;
      padding: 10px 30px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }

    .Form__input-text,
    .Form__textarea {
      width: 80ch;
      padding: 15px 20px;
      margin-bottom: 15px;
      background-color: $surface-color;
      border: none;
      color: $on-surface-color;
      font-size: 16px;

      &:focus {
        outline: 1px solid $primary-color;
      }
    }
    .Form__textarea {
      height: 200px;
      resize: none;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px 0;

    img {
      width: 400px;
    }
  }
}