@import 'vars';
* {
  padding: 0;
  margin: 0;
  font-family: $font-primary, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $bg-color;
}

::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background: $bg-color;
}
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 20px;
  border: 4px solid transparent;
  background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  background-clip: padding-box;
}

.primary-button {
  display: inline-block;
  border: none;
  color: $bg-color;
  position: relative;
  transition: all .3s;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary-color;
    z-index: -2;
  }
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #FFF;
    transition: all .3s;
    z-index: -1;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
  }
  &:hover {
    &::before {
      width: 100%;
      border-radius: 0;
      background-color: $on-background-color;
    }
  }
}

.gray {
  filter: grayscale(1);
}

.grayOut {
  animation: grayScaleOut 0.5s ease-in-out;
}

.grayIn {
  animation: grayScaleIn 0.5s ease-in-out;
}

@keyframes grayScaleOut {
  0% {
    filter: grayscale(1);
  }
  100% {
    filter: grayscale(0);
  }
}

@keyframes grayScaleIn {
  0% {
    filter: grayscale(0);
  }
  100% {
    filter: grayscale(1);
  }
}

.canvasParticles {
  animation: opacity 1.5s ease-in-out;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}