@import 'vars';
.container {
  min-height: 100vh;
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 0;
  color: $on-background-color;
  font-size: 25px;
  position: relative;
  overflow: hidden;
}
.content {
  z-index: 1;
  width: 90%;
  flex: 1;
  max-width: 1200px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 80px;
  color: $primary-color;
  margin-top: -15px;
}
.subtitle {
  font-size: 30px;
  margin-top: -25px;
}

.links {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
  align-items: center;
}
.talk {
  padding: 5px 15px;
  font-size: 16px;
}
.social {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  left: 0;
  align-items: center;
  &::after,
  &::before {
    content: '';
    width: 2px;
    height: 60px;
    background-color: #434343;
  }
}
.socialItem {
  position: relative;
  width: 30px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

@media (min-width: 860px) {
  .resume {
    display: none;
  }
}
@media (max-width: 600px) {
  .container {
    font-size: 20px;
  }
  .title {
    font-size: 65px;
  }
  .subtitle {
    font-size: 25px;
  }
}
@media (max-width: 510px) {
  .title {
    font-size: 55px;
  }
  .subtitle {
    font-size: 20px;
  }
}
@media (max-width: 435px) {
  .title {
    font-size: 45px;
  }
  .subtitle {
    margin-top: -18px;
  }
}
@media (max-width: 361px) {
  .social {
    bottom: 0;
  }
}
@media (max-width: 435px) {
  .title {
    font-size: 40px;
  }
  .subtitle {
    font-size: 17px;
  }
}

.square {
  position: absolute;
  pointer-events: none;
  filter: grayscale(100%);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    transform: scale(1) translateY(-500%) rotate(360deg);
    opacity: 0;
  }
}
