@import "vars";
.Nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 30px 70px;
    position: fixed;
    z-index: 999;
    background-color: rgba($color: $bg-color, $alpha: .98);
    transition: all .5s ease-out;

    &__logo {
        color: $primary-color;
        font-size: 30px;
        font-weight: 600;
    }
}
.Menu{
    list-style: none;
    display: flex;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    padding: .5em 0;
    margin-bottom: -1px;
    color: $on-surface-color;

    &__item{
        margin-left: .5em;
        a {
            text-decoration: none;
            padding: 0 1em;
            text-transform: uppercase;
            font-size: 16px;
        }
        &-active a{
            color: $primary-color;
        }
    }
    &-background {
        background-color: rgba($color: $surface-color, $alpha: .98);
        transition: all .5s ease-in;
    }
}
@media (hover: hover) and (pointer: fine) {
    .Menu__item a:hover { color: $primary-color; }
  }

@media (max-width:860px) {
    .Menu, .Menu__item-download{
        display: none;
    }
    .Nav {
        padding: 30px;
    }
}